.tvit{
    display: grid;
    grid-template-columns: 2% auto ;
    grid-template-rows: auto auto ;
    grid-gap: 0px;
    margin-bottom: 1%;
    padding: 1%;
    border-width: 2px;
    border-bottom: 1px solid #e6ecf0;
    
}
img{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
p{
    padding-left: 6%;
    grid-column-start: 2;
    grid-column-end: 3;
}
