*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media(min-width: 1200px){
a{
  text-decoration: none;
  color: black;
}
.App{
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0px;
  background-color: #e6ecf0;
  padding: 1% 0 0 1% ;
  font-family: "Segoe UI",Arial,sans-serif;  
  
  
}
.main{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;  
  min-height: 96vh;
}
.side{  
  padding: 2%; 
  margin-right: 7%;
  background-color: white;
  
}
.futer{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-left: -1%;
  height: 20px;
  background-color: #1DA1F2;
}
.at{
  background-color: white;
 
}
.nt{
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: flex-start;
  background-color: #E8F5FD;
}
}
@media(max-width: 1200px){
  a{
    text-decoration: none;
    color: black;
  }
  .App{
    display: grid;
    
    grid-template-rows: auto auto auto auto;
    grid-gap: 0px;
    background-color: #e6ecf0;
    padding: 1% 0 0 1% ;
    font-family: "Segoe UI",Arial,sans-serif;  
    
    
  }
  .main{
    margin-top: 5%;
    grid-row-start: 2;
    grid-row-end: 4;  
    min-height: 96vh;
  }
  .side{  
    grid-row-start: 1;
    grid-row-end: 2; 
    padding: 2%; 
    background-color: white;
    margin: auto;
  }
  .futer{
    
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: -1%;
    height: 20px;
    background-color: #1DA1F2;
  }
  .at{
    background-color: white;
   
  }
  .nt{
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #E8F5FD;
  }
}