p{
    margin-left: 5%;
}
.side{
    display: grid;
    grid-template-columns: auto auto ;   
    grid-gap: 0px;
    
}
image{
    grid-column-start: 1;
    grid-column-end: 2;
}
.description{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 65%;
    width: 10vh
}
